<% if @memo.errors.any? %>
  <div class="alert alert-warning">
    <ul>
      <% @memo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class='container'>
  <div class='row'>
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">

<%= form_with model: @memo, url:memos_path, local: true do |f| %>
<h2>メモの投稿</h2>
  <table class='table'>
    <tr>
      <td>
        <%= f.label :タイトル %>
        <%= f.text_field :title, class: "form-control name" %>
      </td>
    </tr>
    <tr>
      <td>
        <%= f.label :メモ %>
        <%= f.text_area :text, class: "form-control text" %>
      </td>
    </tr>
   
    <tr>
      <td>
        <p>メモ公開</p>
        <%= f.radio_button :all_reads, true %>公開
        <%= f.radio_button :all_reads, false %>非公開
      </td>
    </tr>
    <tr>
      <td>
     追記
    <%= f.label :tag_list, 'タグ' %>
</br>
    <%= f.text_field :tag_list, value: @memo.tag_list.join(',') %>
</div>
      </td>
    </tr>
    <tr>
      <td>
        <%= f.submit "メモ作成", class: 'btn btn-success' %>
      </td>
    </tr>

  </table>
<% end %>