<% if @user.errors.any? %>
  <div class="alert alert-warning">
    <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>


<div class="container">
<div class="row">

<div class="col-sm12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
<h2>編集</h2>

 <%= form_with model: @user,local:true do |f| %>
 <%= f.label "名前" %><br>
 <%= f.text_field :name,class: "form form-control" %><br>

 <%= f.label "画像" %><br>
 <%= f.attachment_field :image %><br>

  <%= f.label "自己紹介" %><br>
  <%= f.text_area :introduction,class: "form form-control" %><br>
  <%= f.submit "Update User", class: "btn btn-secondary" %>
<% end %>
</div>
</div>
</div>
