<!DOCTYPE html>
<html>
  <head>
    <title>ZyaruMemo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
<header>
  <% if user_signed_in? %>
 <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
 <%= link_to "メモ投稿", new_memo_path %>
 <%= link_to ' ユーザー一覧',users_path %>
 <%= link_to ' メモ一覧',memos_path %>
 <% else %>

  <% end %>
</header>
  <body>
    <%= yield %>
  </body>
</html>
