<!DOCTYPE html>
<html>
  <head>
    <title>ZyaruMemo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
<header>
 <% if user_signed_in? %>
   <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
   <%= link_to "メモ投稿", new_memo_path %>
   <%= link_to ' ユーザー一覧',users_path %>
   <%= link_to ' メモ一覧',memos_path %>
   <%= link_to ' 検索',search_index_path %>
   <%= link_to ' グループ作成',new_user_group_registration_path %>
   


 <% elsif admin_signed_in? %>
    <%= form_tag(search_path, method: :get) do %>
      <%= select_tag 'range' ,options_for_select([['---選択してください---', ''], ['User', '1'], ['Memo', '2']]) %>
      <%= select_tag 'search', options_for_select([["完全一致","perfect_match"], ["部分一致","partial_match"]]) %>
      <%= text_field_tag (:word) %>
      <%= submit_tag "検索" %>
    <% end %>
 <% else %>

 <% end %>
</header>
  <body>
    <%= yield %>
  </body>
</html>
